$darkText: #12130f;
$lightBackground: #d7dedc;
$lighterBackground: lighten($lightBackground, 7%);
$slightlyDarkerBackground: darken($lightBackground, 7%);
$darkerBackground: darken($lightBackground, 30%);
$darkBlue: #D6F6DD;
$lightBlue: #087e8b;
$darkBackground: #39393a;
$navBarBackground: #2A2A2B;

$contentWidth: 1000px;
$mobileWidth: 650px;
$inputFontSize: 24px;

$successColor: rgb(92, 184, 92);
$warningColor: rgb(240, 173, 78);
$errorColor: rgb(217, 83, 79);

@media screen and (min-width: $contentWidth + 1px) {
  #root .center {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Arial';
  //font-family: 'Arial';

  //background-color: darken($lightBlue, 3%);
  background-color: $lightBlue;
  color: $darkText;
}
body, html {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100%;

  //background-image: url('/frontend/images/otherbackground.jpg');
  //background-image: url('background-2.jpg');
  background-size: cover;

  .center-container {
    flex-basis: $contentWidth;
    max-width: $contentWidth;

    display: flex;
    flex-direction: column;
    //justify-content: center;
  }
  .center {

    box-shadow: 0px 0px 100px rgba($darkText, 0.3);

    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.popup-container {
  position: fixed;
  width: 100%;
  //height: 100%;
  //max-width: $contentWidth;
  left: 50%;
  max-width: $mobileWidth;
  z-index: 1;
  padding-top: 10px;

  .popup {
    left: -50%;
    position: relative;

    margin: 10px;
    padding: 10px;

    color: $lighterBackground;

    h1 {
      display: block;
      margin: 0;
      margin-bottom: 10px;
      font-size: 22px;
      i {
        padding-right: 7px;
      }
    }
    p {
      display: block;
      margin: 0;
      font-size: 18px;
    }

    &.success {
      background-color: $successColor;
    }
    &.warning {
      background-color: $warningColor;
    }
    &.error {
      background-color: $errorColor;
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .center {
    .main-menu >ul >li {
      width: 25%;
      a {
        padding: 15px 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        i, span {
          margin: 0 auto;
          padding: 0;
        }
        i {
          font-size: 28px;
          padding-bottom: 5px;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: $mobileWidth * 0.5) {
  #root .center .main-menu >ul >li a {
    i {
      font-size: 24px;
    }
    span {
      font-size: 12px;
    }
  }
}

#root {
  .login-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    .login-vertical-center {
      margin: 20px;
      flex-basis: 400px;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .login-container {
      color: $lighterBackground;
      font-size: 20px;
      text-transform: uppercase;
      button {
        color: $lighterBackground;
        border-color: $lightBackground;
        background-color: $darkBackground;
      }
      h2 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 30px;
      }
      .bottom-part {
        height: 70px;
        .spinner {
          padding-top: 18px;
          height: 40px;
        }
        button {
          text-transform: uppercase;
        }
        .bottom-link-container {
          display: flex;
          flex-direction: column;
          a {
            color: $lighterBackground;
            text-align: center;
            font-size: 16px;
          }
        }
      }
    }
  }
}
.main-menu {
  //margin-top: 30px;
  background-color: $navBarBackground;
  color: $lightBackground;
  //font-weight: bold;
  font-size: 20px;
  border-top: 1px solid $darkText;
  border-bottom: 1px solid $darkText;
  >ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    >li a {
      border-left: 1px solid $darkText;
    }
    @media screen and (max-width: $mobileWidth + 1px) {
      >li:first-child a {
        border-left: 0;
      }
    }
    >li {
      list-style-type: none;
      a, >span {
        padding: 15px 20px;
        display: block;
        color: $lightBackground;
        text-decoration: none;
        i {
          margin-right: 5px;
        }
      }
      a:hover, span:hover {
        background-color: $lightBlue;
      }
      .active {
        background-color: $lightBlue;
      }

      .menu-button {
        align-self: flex-end;
      }
    }
  }
  ul.dropdown-menu {
    right: 0;

    position: absolute;
    background-color: $lightBackground;
    box-shadow: 0px 0px 50px rgba($darkText, 0.5);
    @media screen and (max-width: $mobileWidth) {
      margin-top: 100px;
    }
    @media screen and (min-width: $mobileWidth + 1px) {
      margin-top: 70px;
    }
    margin-right: 10px;
    padding: 0;
    &.closed {
      display: none;
    }
    li {
      list-style-type: none;
      a {
        i {
          padding-right: 5px;
          width: 23px;
        }
        color: $darkText;
        //padding: 10px 5px 10px 5px;
        padding: 15px;
        display: block;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          background-color: $darkBackground;
          color: $lightBackground;
        }
      }
      .active {
        font-weight: bold;
      }
    }
    width: 200px;
  }
}

.title-container {
  height: 300px;
  background-image: url('/background.jpg');
  background-size: cover;
  position: relative;
  h1 {
    margin: 0;
    color: $lightBackground;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    bottom: 0px;
    @media screen and (max-width: $mobileWidth) {
      font-size: 40px;
      padding-left: 30px;
      padding-bottom: 20px;
    }
    @media screen and (min-width: $mobileWidth + 1px) {
      font-size: 70px;
      padding-left: 50px;
      padding-bottom: 30px;
    }
  }
}


.container {
  flex-grow: 1;
  h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: $mobileWidth) {
  .padded-container {
    padding: 10px;
  }
}
@media screen and (min-width: $mobileWidth + 1px) {
  .padded-container {
    padding: 20px;
  }
}


.log-container {
  .tab-item {
    background-color: $lighterBackground;
    padding: 10px 10px;
    margin: 20px 0px;

    box-shadow: 0 0 15px rgba($darkBackground, 0.2);

    .tab-item-header {
      display: flex;
      justify-content: space-between;

      font-size: 16px;

      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid $darkBackground;

      padding-left: 5px;
      padding-right: 5px;

      font-weight: bold;
      .blue-thing {
        color: $lightBlue;
      }
      .time-thing {
        white-space: nowrap;
      }
      i {
        padding: 0 5px 0 10px;
      }
    }

    .price-info {
      color: #9e9e9e;
      .final-price {
        color: $darkBackground;
      }
    }

    .tab-item-content {
      display: flex;
      @media screen and (max-width: $mobileWidth) {
        flex-direction: column;
        .info-container {
          padding-top: 5px;
        }
        i {
          width: 20px;
        }
      }
      i {
        color: $lightBlue
      }
      .info {
        font-weight: bold;
        padding-left: 10px;
      }
      .info-container {
        padding-right: 20px;
        padding-left: 5px;
      }
      .info-container.delete {
        padding-right: 5px;
        flex-grow: 1;
        button {
          @media screen and (min-width: $mobileWidth) {
            float: right;
          }
          background-color: $lightBlue;
          font-weight: bold;
          border: 0;
          color: $lightBackground;
          padding: 5px 10px;
          cornder-radius: 3px;
          font-size: 16px;
          i {
            padding-left: 7px;
            color: $lightBackground;
          }
        }
      }
    }
  }

  .log-count {
    font-size: 14px;
    color: #888;
    padding-bottom: 5px;
  }

  .log-end {
    height: 100px;
    div {
      text-align: center;
      button.load-more {
        padding: 20px;
        font-size: 18px;
        background-color: $lightBlue;
        border: 1px solid $darkText;
        cursor: pointer;
      }
    }
    .spinner {
      margin: 0 auto;
    }
  }
}

.content {
  //height: 100%;
  flex-grow: 1;
  background-color: $lightBackground;
  display: flex;
}

@media screen and (max-width: $mobileWidth) {
  .add-tab.active {
    display: none;
  }
  .person-listing.active {
    display: none;
  }
  .person-listing {
    width: 100%;
    flex-basis: auto;
  }
}
@media screen and (min-width: $mobileWidth + 1px) {
  .person-listing {
    flex-basis: 300px;
  }
  .back-button {
    display: none;
  }
}

.choose-team {
  div {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 400px;
    div.team-item {
      border: 1px solid $darkBackground;
      margin: 10px;
      a {
        display: flex;
        padding: 20px;
        //display: block;
        font-size: 30px;
        text-decoration: none;
        background-color: $slightlyDarkerBackground;
        color: $darkText;
        &:hover {
          color: $lightBackground;
          background-color: $darkBackground;
        }
        i {
          padding-right: 20px;
        }
      }
    }
  }
  a.new-team {
    font-size: 20px;
    color: $darkText;
    padding-top: 20px;
    padding-bottom: 40px;
    display:block;
  }
}

//.tab-type-item {
.settings-container {
  ul.settings-menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      flex-grow: 1;
      list-style-type: none;
      a {
        text-decoration: none;
        display: block;
        @media screen and (max-width: $mobileWidth) {
          padding: 10px 5px;
          font-size: 14px;
        }
        @media screen and (min-width: $mobileWidth + 1px) {
          padding: 10px 15px;
        }
        white-space: nowrap;
        background-color: $darkBackground;
        color: $lightBackground;
        font-weight: bold;
        &.active {
          color: $darkText;
          background-color: $lighterBackground;
        }
      }
      &:last-child a {
        //border-right: 1px solid $darkText;
      }
    }
  }
  .settings-item {
    .spinner {
      height: 15px;
    }
  }
  .settings-data {
    background-color: $lighterBackground;
    padding: 10px;
  }
  table {
    color: $darkText;
    width: 100%;
    //max-width: 450px;
    background-color: lighten($lighterBackground, 10%);
    //background-color: $lighterBackground;
    //background-color: white;
    border-collapse: collapse;
    tr {
      .spinner {
        height: 14px;
      }
      //&:nth-child(odd) {
      //  background-color: $lightBackground;
      //}
      border-bottom: 1px solid $lightBackground;
      th {
        //float:left;
        text-align: left;
      }
      :nth-child(2), :nth-child(3), :nth-child(4) {
        width: 15%;
        max-width: 50px;
      }
      td, th {
        padding: 15px;
        //float: left;
        a {
          text-decoration: underline;
          //font-weight: bold;
        }
        a:hover {
          color: $lightBlue;
          cursor: pointer;
        }
      }
    }
  }
}

.tab-container {
  display: flex;

  .person-listing {
    //min-height: 400px;
    //flex-basis: 300px;
    background-color: $darkBackground;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        border-bottom: 1px solid $darkText;
        a {
          padding: 20px;
          display: block;
          text-decoration: none;
          color: $lightBackground;
          font-size: 20px;
          display: flex;
          justify-content: space-between;
          .arrow {
            display: none;
          }
          .depth {
            //color: $lightBlue;
            color: mix($darkBackground, $lightBackground);
          }
        }
        a.active {
          border-right: 1px solid darken($lightBackground, 10%);
          background-color: $lightBackground;
          color: $darkBackground;
          .arrow {
            display: inline-block;
          }
          .depth {
            padding-right: 10px;
            //display: none;
          }
        }
      }
    }
  }

  .choose-person {
    text-align: center;
    color: $darkBackground;
    h2 {
      font-size: 40px;
      padding-top: 40px;
    }
  }

  .add-tab {
    flex-grow: 1;
    padding: 20px;
    h2 {
      margin-top: 10px;
    }
    .back-button {
      i {
        width: 25px;
        height: 30px;
        padding-left: 7px;
      }
      color: $lightBlue;
      padding-right: 15px;
    }
    form {
      $buttonSize: 50px;
      $inputWidth: 250px;
      $totalInputWidth: 2 * $buttonSize + $inputWidth;
      max-width: 400px;
      .form-item {
        padding-bottom: 20px;
        span.tab-type-name {
          padding-left: 10px;
          display: block;
          font-size: 20px;
        }
        span.tab-type-name-smaller {
          padding-left: 15px;
          padding-top: 10px;
          display: block;
          font-size: 16px;
          &.hidden {
            display: none;
          }
        }
        .amount-input {
          display: flex;
          button {
            width: $buttonSize;
            height: $buttonSize + 2px;
            border: 1px solid $darkerBackground;
            background-color: $lightBlue;
            padding: 0;
            color: $lightBackground;
            font-size: $inputFontSize;
            cursor: pointer;
          }
          :last-child {
            border-radius: 0 10px 10px 0;
          }
          :first-child {
            border-radius: 10px 0 0 10px;
          }
          input {
            flex-grow: 1;
            //width: $inputWidth;
            border-top: 1px solid $darkerBackground;
            border-bottom: 1px solid $darkerBackground;
            border-left: 0;
            border-right: 0;
            padding: 0 10px;
            width: 10px;
          }
          input, button {
            margin: 0;
          }
        }
        .other-input-container {
          display: flex;
          input {
            flex-grow: 1;
          }

        }
        input {
          height: $buttonSize;
          //width: $totalInputWidth - 2px;
          //width: 100%;
          border: 1px solid $darkerBackground;
          font-size: $inputFontSize;
          padding: 0 10px;
          width: 10px;
          &.hidden {
            display: none;
          }
        }
        .other-input {
          border-radius: 10px;
        }
      }
      .add-button-container {
        height: 70px;
      }
      .submit-button {
        margin-top: 10px;
        height: $buttonSize;
        //width: $totalInputWidth + 20px;
        width: 100%;
        border: 1px solid $darkerBackground;
        background-color: $lightBlue;
        font-size: $inputFontSize;
        border-radius: 10px;
        color: $lightBackground;
        cursor: pointer;
        border: 0px;
      }
    }
  }
}

.input-container {
  display: flex;
  background: white;
  font-size: $inputFontSize;
  border: 1px solid $darkerBackground;
  border-radius: 3px;
  i {
    padding: 10px;
    width: 20px;
    color: $darkBackground;
  }
  input {
    flex-grow: 1;
    width: 10px;
    margin-left: 3px;
  }
  input {
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
    &:focus {
      outline: none;
    }
  }
  input, label {
    display: block;
  }
  input, button {
    font-size: $inputFontSize;
    border: 0;
  }
}

form.basic-form {
  max-width: 400px;
  label {
    padding: 10px 10px 5px 0px;
    font-size: 16px;
  }
  input, button {
    font-size: $inputFontSize;
    border: 0;
  }
  select {
    height: 20px;
  }
  button {
    padding: 8px;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: $lightBlue;
    &:hover {
      cursor: pointer;
    }
  }
  a {
    color: $lightBlue;
    font-size: 20px;
  }
  div.error {
    padding-top: 10px;
    span {
      color: $errorColor;
    }
  }
}


.spinner {
  height: 50px;
}
